<%= form_for(@letter) do |f| %>
  <% if @letter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@letter.errors.count, "error") %> prohibited this letter from being saved:</h2>

      <ul>
      <% @letter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :text, :class => ['sr-only'] %>
    <div id="letter_text" name="letter[text]" class="editable" style="min-height:150px" data-placeholder="Share your story of what God's love has done for you"></div>
    <script>var editor = new MediumEditor('.editable');</script>
  </div>

  <!-- <div class="form&#45;group"> -->
  <!--   <%= f.label :from, :class => 'control&#45;label' %><br> -->
  <!--   <%= f.text_field :from, :class => 'form&#45;control' %> -->
  <!-- </div> -->

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
