<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @story.from %>
</p>

<p>
  <strong>Text:</strong>
  <%= @story.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @story.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
