<!DOCTYPE html>
<html>
<head>
  <title>AngelTree</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="col-md-offset-8 col-md-4">
      <% if logged_in? %>
        <%= current_user.name %> | <%= link_to "Sign Out", logout_url %>
      <% else %>
        <%= link_to "Sign In | Create Account", login_url %>
      <% end %>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
